<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<#if right.ID??>
			<li><a class="add" href="javascript:" onclick="loadDiv('subRightListBox','right/toAddEditRight?parent_id=${right.ID!}&navTabId=${navTabId}')"><span>添加子权限</span></a></li>
			</#if>	
		</ul>
	</div>
	
	<form method="post" action="right/toSaveRight?navTabId=${navTabId}" class="pageForm required-validate" onsubmit="return validateCallback(this, rightAjaxDone)">
		<input type="hidden" name="id" value="${right.ID!}"/>
		<input type="hidden" name="parent_id" value="${right.PARENT_ID!}"/>
		<div class="pageFormContent" layoutH="110">
			<#if parentRight??>
			<fieldset>
				<legend>父级信息</legend>
				<dl>
					<dt>名称：</dt>
					<dd>${parentRight.NAME!}</dd>
				</dl>
				<dl>
					<dt>编码：</dt>
					<dd>${parentRight.NUM!}</dd>
				</dl>
			</fieldset>
			</#if>
			<fieldset>
				<legend>权限信息</legend>
				<dl style="width: 800px">
					<dt>编码：</dt>
					<dd><input type="text" name="num" value="${right.NUM!}" readonly="readonly"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>REL：</dt>
					<dd><input type="text" name="rel" value="${right.REL!}"/><span class="info">可留空</span></dd>
				</dl>
				<dl style="width: 800px">
					<dt>标题：</dt>
					<dd><input type="text" name="name" value="${right.NAME!}" class="required"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>链接：</dt>
					<dd style="width: 600px"><input type="text" name="href" value="${right.HREF!}" style="width: 350px"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>打开方式：</dt>
					<dd><@toDataBase type="radio" code="RIGHT_TARGET" name="target" value="${right.TARGET!'navTab'}"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>是否刷新：</dt>
					<dd><@toDataBase type="radio" code="TRUE/FALSE" name="fresh" value="${right.FRESH!'false'}"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>外部打开：</dt>
					<dd><@toDataBase type="radio" code="TRUE/FALSE" name="external" value="${right.EXTERNAL!'false'}"/></dd>
				</dl>
				<dl style="width: 800px">
					<dt>排序：</dt>
					<dd><input type="text" name="sort_id" value="${right.SORT_ID!'0'}" class="required digits" style="width: 50px"/></dd>
				</dl>
			</fieldset>
		</div>

		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
			</ul>
		</div>
	</form>
</div>