<div class="pageContent">
	<form method="post" id="GroupUserForm_${group.ID!}" action="right/toSaveGroupUser" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
		<input type="hidden" name="id" value="${group.ID!}"/>		
		<input type="hidden" id="users" name="users" value="${users!}"/>	
		<h2 class="contentTitle">${group.NAME} 的用户</h2>
		<div class="pageFormContent" layoutH="98">
			<table style="margin-left: 20px">
				<tr>
					<td style="line-height: 30px">待选用户：</td>
					<td></td>
					<td style="line-height: 30px">已选用户：</td>
				</tr>
				<tr>
					<td>
			      <select style="width:200px;height:500px" multiple id="leftUsers">
							<#list leftList as item>
								<option value="${item.USERNAME!}">${item.USERNAME!}(${item.REALNAME!})</option>
							</#list>
			      </select>
      		</td>
					<td style="padding: 0 10px">
						<input type="button" value=">>" id="rightMove"/><br/><br/>
						<input type="button" value="<<" id="leftMove"/><br/>
					</td>
					<td>
			      <select style="width:200px;height:500px" multiple id="rightUsers">
							<#list rightList as item>
								<option value="${item.USERNAME!}">${item.USERNAME!}(${item.REALNAME!})</option>
							</#list>
			      </select>
					</td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close"> 取 消 </button></div></div></li>
			</ul>
		</div>
	</form>
</div> 

<script type="text/javascript">
	  //双击右移
	  $("#GroupUserForm_${group.ID!}").find("#leftUsers").dblclick(function(){
		  $("#GroupUserForm_${group.ID!}").find("#rightUsers").append($("#GroupUserForm_${group.ID!}").find("#leftUsers option:selected"));
		  selectAllValue_${group.ID!}();
	  });
	  //双击左移
	  $("#GroupUserForm_${group.ID!}").find("#rightUsers").dblclick(function(){
		  $("#GroupUserForm_${group.ID!}").find("#leftUsers").append($("#GroupUserForm_${group.ID!}").find("#rightUsers option:selected"));
		  selectAllValue_${group.ID!}();
	  });
    //批量右移
    $("#GroupUserForm_${group.ID!}").find("#rightMove").click(function(){
  	  $("#GroupUserForm_${group.ID!}").find("#rightUsers").append($("#GroupUserForm_${group.ID!}").find("#leftUsers option:selected"));
  		selectAllValue_${group.ID!}();
    });
    //批量左移
    $("#GroupUserForm_${group.ID!}").find("#leftMove").click(function(){
  	  $("#GroupUserForm_${group.ID!}").find("#leftUsers").append($("#GroupUserForm_${group.ID!}").find("#rightUsers option:selected"));
  		selectAllValue_${group.ID!}();
    });
 		function selectAllValue_${group.ID!}(){
 			var users = "";
 			$("#GroupUserForm_${group.ID!}").find("#rightUsers").find("option").each(function() {
 				users = users+$(this).val()+",";
 			});
 			if(users!="") {
 				users = users.substring(0,users.length-1);
 			}
 			$("#GroupUserForm_${group.ID!}").find("#users").val(users);
 		}
  </script>