<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="javascript:" onclick="loadDiv('subRightListBox','right/toAddEditRight?navTabId=${navTabId}')"><span>添加根权限</span></a></li>
		</ul>
	</div>
	<div layoutH="20" style="float:left; display:block; overflow:auto; width:220px; border:solid 1px #CCC; line-height:21px; background:#fff; border-top: none">
		<ul id="RightListBox" class="ztree"></ul>
	</div>
	<div id="subRightListBox" class="unitBox" style="margin-left:221px;"></div>
</div>
<script type="text/javascript">
		var toRightListSetting = {
			view: {
				selectedMulti: false
			},
			async: {
				enable: true,
				url:"right/toChildrenRight",
				autoParam:["id"],
				otherParam:{"navTabId":"${navTabId}"}
			},
			callback:{
				onClick:toRightListOnClick,
				onRename:zTreeOnRename,
				beforeRemove:zTreeBeforeRemove,
				onRemove:zTreeOnRemove
			},
			edit: {
				enable: true
			}
		};
		function toRightListOnClick(event, treeId, treeNode) {
			loadDiv("subRightListBox",treeNode.href);
		}
		function zTreeBeforeRemove(treeId, treeNode){
			if(treeNode.isParent) {
				alertMsg.error("不允许删除父权限！");
				return false;
			}
			return confirm("确定要删除"+treeNode.name+"吗？");
		}
		function zTreeOnRename(event, treeId, treeNode, isCancel) {
			ajaxTodo("right/toZtreeRenameRight?num="+treeNode.id+"&name="+treeNode.name,function(){
				alertMsg.correct("修改成功！");
				$("#subRightListBox").html("");
			});
		}
		function zTreeOnRemove(event, treeId, treeNode){
			ajaxTodo("right/toZtreeDeleteRight?num="+treeNode.id,function(json){
				alertMsg.correct("删除成功！");
				$("#subRightListBox").html("");
			});
		}
		$.fn.zTree.init($("#RightListBox"), toRightListSetting);
		
		function rightAjaxDone(json){
			DWZ.ajaxDone(json);
			if (json[DWZ.keys.statusCode] == DWZ.statusCode.ok){
				if(json.parentNum!=""){
					var treeObj = $.fn.zTree.getZTreeObj("RightListBox");
					var node = treeObj.getNodesByParam("id",json.parentNum,null);
					if(node.length>0){
						treeObj.reAsyncChildNodes(node[0],"refresh");
						$("#subRightListBox").html("");
						return;
					}
				}
				navTab.reloadFlag(json.navTabId);
			}
		}
</script>