<form id="pagerForm" method="post" action="sys/toFileUploadManage?navTabId=${navTabId!}">
	<input type="hidden" name="pageSize" value="${pd.pageSize}" />
	<input type="hidden" name="pageNumber" value="${pd.pageNumber}" />
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="sys/toFileUploadManage?navTabId=${navTabId!}" method="post">
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>文件名：</td>
					<td><input type="text" name="filename" value="${filename!}"/></td>
					<td>用户名：</td>
					<td><input type="text" name="create_user" value="${create_user!}"/></td>
					<td>是否使用：</td>
					<td><select name="is_use" class="combox">
						<option value="">全部</option>
						<@toDataBase type="select" code="SHIFOU" value="${is_use!}"/>
					</select></td>
				</tr>
			</table>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
				</ul>
			</div>
		</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
		</ul>
	</div>
	<table class="list" width="100%" layoutH="116">
		<thead>
			<tr>
				<th width="50">序号</th>
				<th>模块</th>
				<th>文件名</th>
				<th>大小</th>
				<th>是否使用</th>
				<th>上传人</th>
				<th width="130">上传时间</th>
				<th width="120">操作</th>
			</tr>
		</thead>
		<tbody>
			<#list pd.list as item>
			<tr>
				<td>${item_index+1+(pd.pageNumber-1)*pd.pageSize}</td>
				<td>${item.MODEL!}</td>
				<td class="bold"><a href="${item.FILEURL!}" target="_blank">${item.FILENAME!}</a></td>
				<td>${item.FILESIZE!}</td>
				<td><@toDataBase code="SHIFOU" value="${item.IS_USE!}" type="text"/></td>
				<td><@toUser key="${item.CREATE_USER}"/></td>
				<td>${item.CREATE_TIME!}</td>
				<td><a target="ajaxTodo" href="sys/deleteFileUpload?id=${item.ID}&navTabId=${navTabId!}" title="确认删除吗？">删除</a></td>
			</tr>
			</#list>
		</tbody>
	</table>
	<#include "../inc/page.html">
</div>